.calculator {
  border-radius: var(--border-radius);
  background: var(--color-calculator-background);
  box-shadow: var(--shadow-medium);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.2rem;
  position: relative;
}
