.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 22px;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  height: 50px;
  width: 50px;
  background: transparent;
  border: none;
  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 100ms linear;
  padding: 0;
}

.key:hover {
  background-color: #FAFAFA;
}

.key--bullet {
  background-color: #d3d3d3;
}

.key--bullet:hover {
  transform: translateY(-2px);
  will-change: transform;
  transition: transform 100ms linear;
  background-color: #d3d3d3;
}
